<img src="/images/glorybox-small.jpg">

<p>Christine<br> London, England, United Kingdom<br> Life is:
sincerity, love, music, soul, good taste, precision, beauty, quality
control & mighty fine company.</p>

<a href="https://twitter.com/verystylishgirl" class="twitter-follow-button" data-show-count="false">Follow @verystylishgirl</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>
  (function() {
    var cx = '010882593259686057921:d17divect9u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

<p><strong>"Glorybox" - a single by English trip hop group
'Portishead', released in 1994. The title song samples "Ike's Rap II"
by Isaac Hayes. The song is a love song, featuring the frequent
refrain, "I just want to be a woman."</strong></p>

<p>Very Stylish Girl - from "Une Very Stylish Fille" by 'Dimitri From
Paris', which samples Teddy Randazzo's "The Girl from U.N.C.L.E."</p>

<p>Stems from Hackney.<br>Based in London.<br>This is where I organise
my thoughts and collect material of personal interest. I present this
to you wholeheartedly. At the same time, I hope some of you will find
what you see or hear to be useful. Thank you for browsing.</p>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2857508700908169"
     data-ad-slot="2603093961"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<p id="blogroll-header"><strong>Useful Links:</strong></p>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

<script>
  $(function() {
    $( "#accordion" ).accordion({ active: false, 
  collapsible: true,
  heightStyle: content});
  });
  </script>

<div id="accordion">
<a href="#"><h3>Lifestyle <span class="fa fa-angle-double-down"/></h3></a>
<div>
<ul>
<li><a href='http://www.amagazinecuratedby.com/'>A Magazine Curated By</a></li>
<li><a href='http://www.a212.com/'>A212</a></li>
<li><a href='http://www.aestheticamagazine.com/'>Aesthetica</a></li>
<li><a href='http://www.anothermag.com/'>Another</a></li>
<li><a href='http://asyouaremagazine.com/'>As You Are</a></li>
<li><a href='http://www.bjp-online.com/blog'>BJP</a></li>
<li><a href='http://becauselondon.com/'>Because</a></li>
<li><a href='http://www.brown-griffin.com/'>Brown Griffin</a></li>
<li><a href='http://www.businessoffashion.com/'>Business of Fashion</a></li>
<li><a href='http://readcereal.com/'>Cereal</a></li>
<li><a href='http://www.chemicallyimbalanced.org/'>Chemically Imbalanced</a></li>
<li><a href='http://www.cntraveller.com/'>Condé Nast Traveller</a></li>
<li><a href='http://www.creativereview.co.uk/'>Creative Review</a></li>
<li><a href='http://blog.daemianandchristine.com/'>Daemian and Christine</a></li>
<li><a href='http://danskmagazine.com/'>Dansk</a></li>
<li><a href='http://www.dazeddigital.com/'>Dazed & Confused</a></li>
<li><a href='http://www.editer.com/'>Editer</a></li>
<li><a href='http://www.fantasticman.com/'>Fantastic Man</a></li>
<li><a href='http://www.feastingneverstops.com/'>Feasting Never Stops</a></li>
<li><a href='http://fireandknives.com/'>Fire and Knives</a></li>
<li><a href='http://www.folkclothing.com/blog/'>Folk</a></li>
<li><a href='http://grey-magazine.com/'>Grey</a></li>
<li><a href='http://www.hintmag.com/'>Hint</a></li>
<li><a href='http://www.hotandcool.biz/'>Hot and Cool</a></li>
<li><a href='http://www.howtospendit.com/'>How To Spend It</a></li>
<li><a href='http://www.kinfolkmag.com/'>Kinfolk</a></li>
<li><a href='http://lky.ph/'>Lucky Peach</a></li>
<li><a href='http://www.magnumphotos.com/'>Magnum</a></li>
<li><a href='http://monocle.com/magazine/'>Monocle</a></li>
<li><a href='http://naag.com/'>Naag</a></li>
<li><a href='http://nordiccoffeeculture.com/'>Nordic Coffee Culture</a></li>
<li><a href='http://www.nowness.com/'>Nowness</a></li>
<li><a href='http://www.nuji.com/'>Nuji</a></li>
<li><a href='http://www.nylonmag.com/'>Nylon</a></li>
<li><a href='http://www.refinery29.com/'>Refinery 29</a></li>
<li><a href='http://reissfornow.tumblr.com/'>Reiss For Now</a></li>
<li><a href='http://www.roostblog.com/'>Roost</a></li>
<li><a href='http://www.russhmagazine.com/'>Russh</a></li>
<li><a href='http://www.selectism.com/'>Selectism</a></li>
<li><a href='http://www.selfservicemagazine.com/'>Self Service</a></li>
<li><a href='http://www.smithjournal.com.au/'>Smith Journal</a></li>
<li><a href='http://sousstyle.com/'>Sous Style</a></li>
<li><a href='http://www.stimulusrespond.com/'>Stimulus Respond</a></li>
<li><a href='http://thatflowershoploves.tumblr.com/'>That Flower Shop</a></li>
<li><a href='http://thecuttingclass.com/'>The Cutting Class</a></li>
<li><a href='http://www.thefader.com/'>The Fader</a></li>
<li><a href='http://thefoodiebugle.com/'>The Foodie Bugle</a></li>
<li><a href='http://www.thegentlewoman.com/'>The Gentlewoman</a></li>
<li><a href='http://www.thelondonmagazine.co.uk/'>The London Magazine</a></li>
<li><a href='http://www.nytimes.com/pages/t-magazine/index.html'>The New York Times Style</a></li>
<li><a href='http://www.theselby.com/'>The Selby</a></li>
<li><a href='http://www.theworldsbestever.com/'>The Worlds Best Ever</a></li>
<li><a href='http://www.twenty-6.co.uk/'>Twenty-6</a></li>
<li><a href='http://www.twinfactory.co.uk/'>Twin</a></li>
<li><a href='http://www.vsmagazinelive.com/'>Vs.</a></li>
<li><a href='http://www.wallpaper.com/'>Wallpaper*</a></li>
<li><a href='http://wolf-magazine.co.uk/'>Wolf</a></li>
<li><a href='http://www.i-donline.com/'>i-D</a></li>
</div>
<a href="#"><h3>Listen <span class="fa fa-angle-double-down"/></h3></a>
<div>
<ul>
<li><a href='22tracks.com'>22 Tracks</a></li>
<li><a href='http://www.beatport.com/'>Beatport</a></li>
<li><a href='http://bleep.com/'>Bleep</a></li>
<li><a href='http://boomkat.com/'>Boomkat</a></li>
<li><a href='http://www.youlovecrack.com/'>Crack Magazine</a></li>
<li><a href='http://www.dj-kicks.com/'>DJ KiCKS</a></li>
<li><a href='http://deepermovements.tumblr.com/'>Deeper Movements</a></li>
<li><a href='http://dope-track.com/'>Dope Track</a></li>
<li><a href='http://www.eatyourownears.com/'>Eat Your Own Ears</a></li>
<li><a href='http://electronicexplorations.org/'>Electronic Explorations</a></li>
<li><a href='http://www.everydayjunglist.biz/'>Everyday Junglist</a></li>
<li><a href='http://www.factmag.com/'>FACT</a></li>
<li><a href='http://www.fabriclondon.com/blog'>Fabric</a></li>
<li><a href='http://www.feelmybicep.com/'>Feel My Bicep</a></li>
<li><a href='http://www.futureclassic.com.au/'>Future Classic</a></li>
<li><a href='http://www.gillespetersonworldwide.com/'>Gilles Peterson Worldwide</a></li>
<li><a href='http://gillespetersonslosttapes.tumblr.com/'>Gilles Peterson's Lost Tapes</a></li>
<li><a href='http://hardwax.com/'>Hard Wax</a></li>
<li><a href='http://www.hotflushrecordings.com/'>Hotflush Recordings</a></li>
<li><a href='http://www.juno.co.uk/'>Juno Records</a></li>
<li><a href='http://www.kristinarecords.com/'>Kristina Records</a></li>
<li><a href='http://www.lagasta.com/'>Last Gas Station</a></li>
<li><a href='http://www.littlewhiteearbuds.com/'>Little White Earbuds</a></li>
<li><a href='http://musicofthememorablekind.tumblr.com/'>Music of the memorable kind</a></li>
<li><a href='http://www.musikexpress.de/'>Musik Express</a></li>
<li><a href='http://niteversions.com/'>Nite Versions</a></li>
<li><a href='http://peekitup.tumblr.com/'>Peek It Up</a></li>
<li><a href='http://www.phonicarecords.com/'>Phonica Records</a></li>
<li><a href='http://www.plaisirduplaisir.fr/'>Plaisir du Plaisir</a></li>
<li><a href='http://www.polloerotico.com/blog/'>Pollo Erotico</a></li>
<li><a href='http://pulseradio.net/'>Pulse Radio</a></li>
<li><a href='http://rcrdlbl.com/'>Rcrd Lbl</a></li>
<li><a href='http://www.residentadvisor.net/'>Resident Advisor</a></li>
<li><a href='http://www.slothboogie.com/'>SlothBoogie</a></li>
<li><a href='http://www.sonicrouter.com/'>Sonic Router</a></li>
<li><a href='http://www.soundsoftheuniverse.com/'>Sounds of the Universe</a></li>
<li><a href='http://stereogum.com/'>Stereogum</a></li>
<li><a href='http://www.teshno.com/'>Teshno</a></li>
<li><a href='http://thefourohfive.com/'>The 405</a></li>
<li><a href='http://www.thecouchsessions.com/'>The Couch Sessions</a></li>
<li><a href='http://thequietus.com/'>The Quietus</a></li>
<li><a href='http://thesoundtrackto.tumblr.com/'>The Soundtrack to...</a></li>
<li><a href='http://www.thewire.co.uk/'>The Wire</a></li>
<li><a href='http://www.waste-central.com/'>Waste Central</a></li>
<li><a href='http://www.xlr8r.com/'>XLR8R</a></li>
<li><a href='http://youllsoonknow.us/'>You'll Soon Know</a></li>
</ul>
</div>
<a href="#"><h3>Glorious <span class="fa fa-angle-double-down"/></h3></a>
<div>
<ul>
<li><a href='http://www.10greekstreet.com/'>10 Greek Street</a></li>
<li><a href='http://www.40maltbystreet.com/'>40 Maltby Street</a></li>
<li><a href='http://46b-espressohut.tumblr.com/'>46b Espresso Hut</a></li>
<li><a href='http://www.amassrestaurant.com/'>Amass - Copenhagen</a></li>
<li><a href='http://www.barrafina.co.uk/'>Barrafina</a></li>
<li><a href='http://www.bastardrestaurant.se/home/1.html'>Bastard - Malmö</a></li>
<li><a href='http://www.boccadilupo.com/'>Bocca Di Lupo</a></li>
<li><a href='http://bonedaddiesramen.com/'>Bone Daddies</a></li>
<li><a href='http://www.brawn.co/'>Brawn</a></li>
<li><a href='http://www.brockleymarket.com/'>Brockley Market</a></li>
<li><a href='http://www.brownsofbrockley.com/'>Browns of Brockley</a></li>
<li><a href='http://www.caravankingscross.co.uk/'>Caravan Kings Cross</a></li>
<li><a href='http://www.chaseandsorensen.com/'>Chase & Sorensen</a></li>
<li><a href='http://www.climpsonsarch.com/'>Climpson's Arch</a></li>
<li><a href='http://www.cornerroom.co.uk/'>Corner Room</a></li>
<li><a href='http://www.departmentofcoffee.co.uk/'>Department of Coffee and Social Affairs</a></li>
<li><a href='http://dropcoffee.se/'>Drop Coffee - Stockholm</a></li>
<li><a href='http://www.ducksoupsoho.co.uk/'>Duck Soup</a></li>
<li><a href='http://dunnefrankowski.tumblr.com/'>Dunne Frankowski</a></li>
<li><a href='http://www.elliotscafe.com/'>Elliot's</a></li>
<li><a href='http://www.flintyred.co.uk/'>Flinty Red</a></li>
<li><a href='http://www.frankscafe.org.uk/'>Frank's Cafe and Campari Bar</a></li>
<li><a href='http://www.franzeevans.com/'>Franze and Evans</a></li>
<li><a href='http://gingerandwhite.com/'>Ginger and White</a></li>
<li><a href='http://www.greatbritishchefs.com/'>Great British Chefs</a></li>
<li><a href='http://greenmanfrenchhorn.co/'>Green Man French Horn</a></li>
<li><a href='http://www.gujaratirasoi.com/'>Gujarati Rasoi</a></li>
<li><a href='http://guyawford.wordpress.com/'>Guy Awford</a></li>
<li><a href='http://www.restaurantsetcltd.co.uk/'>Hix Restaurants</a></li>
<li><a href='http://www.jinkichi.com/'>Jin Kichi</a></li>
<li><a href='http://www.josepizarro.com/restaurants/jose/'>Jose</a></li>
<li><a href='http://www.kaffeine.co.uk/'>Kaffeine</a></li>
<li><a href='http://www.kentkaffe.com/index.php?id=10000'>Kent Kaffe Laboratorium - Copenhagen</a></li>
<li><a href='http://www.koya.co.uk/'>Koya</a></li>
<li><a href='http://www.koyabar.co.uk/'>Koya Bar</a></li>
<li><a href='http://www.lamijean.fr/Language.aspx?L=3'>L'Ami Jean - Paris</a></li>
<li><a href='http://www.latelier-dalston.co.uk/'>L'Atelier Dalston</a></li>
<li><a href='http://www.lafromagerie.co.uk/'>La Fromagerie</a></li>
<li><a href='http://lagrottaices.tumblr.com/'>La Grotta Ices</a></li>
<li><a href='http://www.lardo.co.uk/'>Lardo</a></li>
<li><a href='http://www.mathiasdahlgren.com/'>Mathias Dahlgren</a></li>
<li><a href='http://mayfieldswiltonway.co.uk/'>Mayfields</a></li>
<li><a href='http://number67.co.uk/'>No. 67 at the SLG</a></li>
<li><a href='http://www.nordicbakery.com/'>Nordic Bakery</a></li>
<li><a href='http://peckhambazaar.com/'>Peckham Bazaar</a></li>
<li><a href='http://peckhamrefreshment.com/'>Peckham Refreshment Rooms</a></li>
<li><a href='http://polpetto.co.uk/'>Polpetto</a></li>
<li><a href='http://www.polpo.co.uk/'>Polpo</a></li>
<li><a href='http://www.quovadissoho.co.uk/'>Quo Vadis</a></li>
<li><a href='http://www.rawduckhackney.co.uk/'>Raw Duck</a></li>
<li><a href='http://restaurant-relae.dk/en/'>Relae - Stockholm</a></li>
<li><a href='http://www.rivercafe.co.uk/'>River Cafe</a></li>
<li><a href='http://www.arnoldandhenderson.com/'>Rochelle Canteen</a></li>
<li><a href='http://www.spuntino.co.uk/'>Spuntino</a></li>
<li><a href='http://www.stjohnrestaurant.com/'>St. John Restaurant</a></li>
<li><a href='http://sushitetsu.co.uk/'>Sushi Tetsu</a></li>
<li><a href='http://www.tappedandpacked.co.uk/'>Tapped and Packed</a></li>
<li><a href='http://brunswickhousecafe.co.uk/'>The Brunswick House Cafe</a></li>
<li><a href='http://thecloveclub.com/'>The Clove Club</a></li>
<li><a href='http://thecoffeecollective.dk/'>The Coffee Collective - Copenhagen</a></li>
<li><a href='http://www.theempressofindia.com/'>The Empress</a></li>
<li><a href='http://www.thegardenerscottage.co/'>The Gardener's Cottage - Edinburgh</a></li>
<li><a href='http://thequalitychophouse.com/'>The Quality Chop House</a></li>
<li><a href='http://theshiori.com/'>The Shiori</a></li>
<li><a href='http://www.thetablecafe.com/'>The Table Cafe</a></li>
<li><a href='http://www.thisbrightfield.com/'>This Bright Field</a></li>
<li><a href='http://www.timberyard.co/'>Timberyard - Edinburgh</a></li>
<li><a href='http://tinawesaluteyou.com/'>Tina, We Salute You</a></li>
<li><a href='http://toastdulwich.co.uk/'>Toast</a></li>
<li><a href='http://www.tonguencheek.info'>Tongue 'n' Cheek</a></li>
<li><a href='http://www.trangallan.com/'>Trangallán</a></li>
<li><a href='http://telescopecafe.com/'>Télescope Cafe - Paris</a></li>
<li><a href='http://tenbells.com/'>Upstairs At The Ten Bells</a></li>
<li><a href='http://verdene5.com/'>Verden</a></li>
<li><a href='http://www.verjusparis.com/'>Verjus - Paris</a></li>
<li><a href='http://www.violetcakes.com/'>Violet Cakes</a></li>
<li><a href='http://www.withjamandbread.com/'>With Jam and Bread</a></li>
<li><a href='http://www.workshopcoffee.com/'>Workshop Coffee</a></li>
<li><a href='http://www.zuccalondon.com/'>Zucca</a></li>
</ul>
</div>
<a href="#"><h3>Materials <span class="fa fa-angle-double-down"/></h3></a>
<div>
<ul>
<li><a href='http://www.stories.com/'>& Other Stories</a></li>
<li><a href='http://www.31philliplim.com/'>3.1 Phillip Lim</a></li>
<li><a href='http://www.apc.fr/'>A.P.C</a></li>
<li><a href='http://shop.acnestudios.com/'>Acne</a></li>
<li><a href='http://europe.agnesb.com/fr/'>agnes b</a></li>
<li><a href='http://www.alexanderwang.com/'>Alexander Wang</a></li>
<li><a href='http://www.alltheprettythings.com.au/'>All The Pretty Things</a></li>
<li><a href='http://americanapparel.net/intl/uk.html'>American Apparel</a></li>
<li><a href='http://www.anthonyvaccarello.com/'>Anthony Vaccarello</a></li>
<li><a href='http://www.antipodium.com/'>Antipodium</a></li>
<li><a href='http://www.blkdnm.com/'>BLKDNM</a></li>
<li><a href='http://www.bodkin.us/'>Bodkin</a></li>
<li><a href='http://www.bonadrag.com/'>Bona Drag</a></li>
<li><a href='http://www.brownsfashion.com/'>Browns</a></li>
<li><a href='http://www.celine.com/'>Celine</a></li>
<li><a href='http://www.charlieandlee.com/store/'>Charlie and Lee</a></li>
<li><a href='http://www.comptoirdescotonniers.com/eng/home_EN.aspx'>Comptoir Des Cotonniers</a></li>
<li><a href='http://www.cosstores.com/'>COS</a></li>
<li><a href='http://www.damirdoma.com/'>Damir Doma</a></li>
<li><a href='http://www.filippa-k.com/'>Filippa K</a></li>
<li><a href='http://www.isabelmarant.tm.fr/'>Isabel Marant</a></li>
<li><a href='http://www.jigsaw-online.com/'>Jigsaw</a></li>
<li><a href='http://www.lagarconne.com/store/index.htm'>La Garconne</a></li>
<li><a href='http://www.ln-cc.com/'>LN-CC</a></li>
<li><a href='http://www.loverthelabel.com/'>Lover</a></li>
<li><a href='http://eboutique.maisonmartinmargiela.com/'>Maison Martin Margiela</a></li>
<li><a href='http://www.matchesfashion.com/'>Matches</a></li>
<li><a href='http://www.meadhamkirchhoff.com/'>Meadham Kirchhoff</a></li>
<li><a href='http://www.net-a-porter.com/'>Net A Porter</a></li>
<li><a href='http://www.nicolefarhi.com/'>Nicole Farhi</a></li>
<li><a href='http://www.preen.eu/'>Preen</a></li>
<li><a href='http://www.reissonline.com/'>Reiss</a></li>
<li><a href='http://www.rodarte.net/'>Rodarte</a></li>
<li><a href='http://www.rubyandtallulah.co.uk/'>Ruby and Tallulah</a></li>
<li><a href='http://www.russellandbromley.co.uk/'>Russell and Bromley</a></li>
<li><a href='http://www.sandro-paris.com/accueil'>Sandro</a></li>
<li><a href='http://www.sessun.com/'>Sessun</a></li>
<li><a href='http://www.shopspanishmoss.com/'>Spanish Moss</a></li>
<li><a href='http://www.start-london.com/'>Start London</a></li>
<li><a href='http://www.ilovetba.com/'>TBA</a></li>
<li><a href='http://teatumjones.com/index.shtml'>Teatum Jones</a></li>
<li><a href='http://www.thecorner.com/'>The Corner</a></li>
<li><a href='http://goodhoodstore.com/'>The Goodhood Store</a></li>
<li><a href='http://theyskenstheory.com/'>Theyskens' Theory</a></li>
<li><a href='http://www.vanessabruno.com/'>Vanessa Bruno</a></li>
<li><a href='http://www.whistles.co.uk/'>Whistles</a></li>
<li><a href='http://www.zadig-et-voltaire.com/'>Zadig Et Voltaire</a></li>
</ul>
</div>
<a href="#"><h3>Tags <span class="fa fa-angle-double-down"/></h3></a>
<div>
<ul class="tagcloud">
    {% for tag in tag_cloud %}
        <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
    {% endfor %}
</ul>
</div>
</div>


